.container {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 80px 400px 2fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "header header header"
    "bar rail content";
}
